{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>LOGIN PAGE</title>
  {% load static %}
  <!-- CSS stylesheet -->
  <link rel="stylesheet" />
  <script src= {% static 'js/script.js' %}></script>
</head>

<body align="padding-left">

  <div class="class1">
    
    <div>
      <img src={% static 'images/Frame90.png' %} >
    </div>

    <br>

    <div style="font-family: 'Open Sans';display: flex;
align-items: center; padding-left: 10%; letter-spacing: 0.002em;
color: #2E2E2E; font-style: normal; font-size: 30px; font-weight:600px">
      Welcome Back
    </div>
    <p style="font-family: 'Open Sans'; font-weight: 500;"> Enter your login details to proceed</p>
    <div>
        <form method="POST">
            {% csrf_token %}
                {% include 'tcgen/includes/messaging.html' %}
                {{ form|crispy }}
        
        <br>
        <div><input type="checkbox">
        <label for="policy" style=" width: 80%; font-family: 'Open Sans'; font-style: normal; font-size: 80%;  display: flex; align-items: center; letter-spacing: 0.002em; color: #121212;">
        Remember me
        <div style="padding-left: 50%;">Forgot Password? <a href="">Reset</a></div>
        </label>
        </div>
        <input type="submit" style="display: flex; flex-direction: row; justify-content: center; 
align-items: center; padding: 10px; gap: 10px; width: 40%;
 cursor:pointer; height: 14%; background: #5D269E; border-radius: 10px; color:white;" value="Login">
      </form>

    </div>

    <div style="font-family: 'Open Sans'; font-style: normal; font-weight: 400; font-size: 100%; line-height: 32px;
display: flex;
align-items: center;
letter-spacing: 0.002em;
    width: 60%;
/* GREY 11 */
color: #969598;
">Don't have an account? <href="{% url 'register' %}"> Sign up for free here </a>
    </div>


    <div style="width: 158px;height: 22px; /* REG- Body text normal */
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 80%;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.002em;
        color: #646365;
        width:50%;
    ">
      or continue with <br>
      <img src={% static 'images/image7.png' %} style="width: 30px; height: 30px;flex: none;order: 0;flex-grow: 0;"> 
      <img src={% static 'images/image8.png' %} style="width: 30px; height: 30px;flex: none;order: 0;flex-grow: 0;">
    </div>

  </div>
</body>

</html>