html, body {
  height: 100%;
  width: 100%;
}

/* DASHBOARD CONTAINER*/
.box {  
position: absolute;
width: 30%;
height: 220%;
left: 0px;
top: 0px;
background: #FCFCFC;
box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Logo at the top */
 .logo{
    size: 15%; 
   padding-left: 0%;
  width: 90%;
 }

/* profile pic*/
.pic{
  position: absolute;
width: 50px;
height: 50px;
left: 25%;
padding-top: 30%;
padding-left: 14%;
}

.options{
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 90%;
line-height: 33px;
letter-spacing: 0.002em;
  padding-left: 40%;
  padding-top: 30%;
/* GREY 2 */
color: #1E1E1E;
flex: none;
order: 0;
flex-grow: 0;
}

/* styling the a tags  */


/* dashboard page style */
.body{
  position: absolute;
width: 60%;
height: 130%;
left: 40%;
top: 0px;
}

.box2{
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 10%;
letter-spacing: 0.002em;
color: #1E1E1E;
flex: none;
order: 0;
flex-grow: 0;
  width: 0%;
  padding-left: 0%;
  padding-top: 7%;
  border: none;

}

.image {
position: absolute;
width: 100%;
height: 30%;
left: 0px;
top: 20%;
  border-radius: 6px;
}

#text {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 90%;
color: #000000;
}

h2 {
  color: white;
  font-size: 90%;
font-family: 'Open Sans';
font-style: normal;
  position: absolute;
padding-left: 0%;
padding-top: 2%;
  text-align: center;
}

main{
  width: 70px;
  padding-top: 7% ;
height: 20px;
  display: grid;
  grid-template-areas:'a b c ';
  gap: 10px;
}

.itemA {
/*   background: #D7D7D7; */
border-radius: 10px;
  grid-area: a;
}

.itemB {
border-radius: 10px;
   grid-area: b;
}

  .itemC {
border-radius: 10px;
     grid-area: c;
}

.play {
  position: absolute;
left: 18.67%;
right: 33.33%;
top: 138.33%;
bottom: 33.33%;
border: 2px solid #1E1E1
  size: 60%;
}

  .proj {
   width: 320px;
height: 100px;
  display: grid;
  grid-template-areas:'x y z';
  gap: 10px; 
  }
.itemX {
  background: #D7D7D7;
border-radius: 7px;
  grid-area: x;  
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 6px;
letter-spacing: 0.002em;

}

.itemY {
  background: #D7D7D7;
border-radius: 7px;
   grid-area: y;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 6px;
letter-spacing: 0.002em;

}

  .itemZ {
  background: #D7D7D7;
border-radius: 7px;
     grid-area: z;   
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 6px;
letter-spacing: 0.002em;

}

   /* footer Section Styling */
footer{
width: 100%;    
position: absolute;
height: 60%;
left: 0%;
right: 0%;
bottom: 0px;
background: #323233;
    top: 220%;

}

.des{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
color: #FFFFFF;  
}
.flex-columns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-around;
    padding-left: 2rem;
    /* border: white solid 2px; */
}

.social-media-icons {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 34px;

}
.social-media-icons img{
    width: 20px;
    display: flex;

}
.col-1 p{
    font-size: 14px;
    width: 65%;
    line-height: 27.24px;
    font-weight: 400;
}
.col2 a{
    color: #fff;    
}
.list{
    margin-top: 2rem;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 100;
}
.p{
 font: 'Open Sans';
  color: white;

}

.col3 h3{
    margin-bottom: 2rem;
    font-size: 24px;
 color: white;
}
.col3 input{
  
    outline: none;
    padding: .6rem;
    border: light #fff 1px;
    margin-top: .5rem;
    /* width: 300px; */
    display: block;
    width: 70%;
}

.submit {
  padding-top: 4%;
  padding-bottom: 4%;
    background: #5D269E;
border-radius: 8px;
  width: 80%;
  color: white;
}

#undr {
  font-family: 'Open Sans';
font-style: normal;
 display: flex;
flex-direction: row;
align-items: center;
gap: 10px;
width: 70%;
height: 20%;
border: 1px solid #A08D8D;
border-radius: 8px;
}