html, body {
  height: 100%;
  width: 100%;
}
html, body {
  height: 100%;
  width: 100%;
}

.class1{
position: absolute;
width: 50%;
height: 100%;
left: 5%;
top: 6% 
}

#side { 
position: absolute;
width: 40%;
height: 200%;
left: 60%;
top: 0%;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;
}

#form {
width: 50%;
height: 50%;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.02em;
color: #121212;

  /* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0; 

}

input[type=text],[type=email], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
