<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TermsToGo | About Us</title>
    {% load static %}
    <!-- CSS stylesheet -->
    <link rel="stylesheet" href={% static "project_tc_gen/css/newstyle.css" %} />
    <link rel="stylesheet" href={% static 'project_tc_gen/css/mediaQueries.css' %}>

    <!--------------- Fonts ----------------->
    <!-- Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <header>
        <div class="container">
          <nav class= 'flex'>
            <div class="logo">
              <a href="index.html"><img src={% static "project_tc_gen/imgs/about/Frame 90.png" %}  alt="termstogo logo"></a> 
            </div>
            <ul class="nav-list flex">
              <li class="nav-links"><a href="/">Home</a></li>
              <li class="nav-links"><a href="">About</a></li>
              <li class="nav-links"><a href="contact-us.html">Contact Us</a></li>
              <li class="nav-links"><a href="/faq">FAQ</a></li>
            </ul>
            <ul class="login-signup flex">
              <li class="nav-links header-btn"><a href="generate-page.html">Generate</a></li>
            </ul>
          </nav>
        </div>
    </header>
    <!-- Main Section     -->
    <main>
        <section class="about-us" id="about-us">
            <div class="container">
                <div class="section-header-text">
                    <h1>What We Do</h1>
                </div>
                <div class="about-us-header-flex">
                    <div class="about-us-header-flex-left">
                        <p>We are a team of adequate knowledge in the field. we help Companies and individuals generate terms and condition, privacy policy for their website. we offer templates for these services</p>
                    </div>
                    <div class="about-us-header-flex-right">
                        <div class="about-us-images">
                            <img src={% static "project_tc_gen/imgs/about/about-img_1.png" %} alt="">
                            <img src={% static "project_tc_gen/imgs/about/about-img_2.png" %} alt="">
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="about-us-teams" id="about-us-teams">
            <div class="container teams-container">
                <div class="section-header-text">
                    <h2>Meet Our Team</h2>
                </div>
                
                <div class="team">
                   <div class="team-col">
                        <div class="team-col-image">
                            <img src={% static "project_tc_gen/imgs/about/team-1.png" %} alt="">
                        </div>
                        <div class="team-name-position">
                            <h4>Mary Jane</h4>
                            <p>Team Lead</p>
                        </div>
                    </div>
                    <div class="team-col">
                        <div class="team-col-image">
                            <img src={% static "project_tc_gen/imgs/about/team-2.png" %} alt="">
                        </div>
                        <div class="team-name-position">
                            <h4>Mary Jane</h4>
                            <p>Team Lead</p>
                        </div>
                    </div>
                    <div class="team-col">
                        <div class="team-col-image">
                            <img src={% static "project_tc_gen/imgs/about/team-3.png" %} alt="">
                        </div>
                        <div class="team-name-position">
                            <h4>Mary Jane</h4>
                            <p>Team Lead</p>
                        </div>
                    </div>
                    <div class="team-col">
                        <div class="team-col-image">
                            <img src={% static "project_tc_gen/imgs/about/team-4.png" %} alt="">
                        </div>
                        <div class="team-name-position">
                            <h4>Mary Jane</h4>
                            <p>Team Lead</p>
                        </div>
                    </div>
                    <div class="team-col">
                        <div class="team-col-image">
                            <img src={% static "project_tc_gen/imgs/about/team-5.png" %} alt="">
                        </div>
                        <div class="team-name-position">
                            <h4>Mary Jane</h4>
                            <p>Team Lead</p>
                        </div>
                    </div>
                    <div class="team-col">
                        <div class="team-col-image">
                            <img src={% static "project_tc_gen/imgs/about/team-6.png" %} alt="">
                        </div>
                        <div class="team-name-position">
                            <h4>Mary Jane</h4>
                            <p>Team Lead</p>
                        </div>
                    </div>
                    <div class="team-col">
                        <div class="team-col-image">
                            <img src={% static "project_tc_gen/imgs/about/team-7.png" %} alt="">
                        </div>
                        <div class="team-name-position">
                            <h4>Mary Jane</h4>
                            <p>Team Lead</p>
                        </div>
                    </div>
                    <div class="team-col">
                        <div class="team-col-image">
                            <img src={% static "project_tc_gen/imgs/about/team-8.png" %} alt="">
                        </div>
                        <div class="team-name-position">
                            <h4>Mary Jane</h4>
                            <p>Team Lead</p>
                        </div>
                    </div>
                    <div class="team-col">
                        <div class="team-col-image">
                            <img src={% static "project_tc_gen/imgs/about/team-9.png" %} alt="">
                        </div>
                        <div class="team-name-position">
                            <h4>Mary Jane</h4>
                            <p>Team Lead</p>
                        </div>
                    </div>
                    <div class="team-col">
                        <div class="team-col-image">
                            <img src={% static "project_tc_gen/imgs/about/team-10.png" %} alt="">
                        </div>
                        <div class="team-name-position">
                            <h4>Mary Jane</h4>
                            <p>Team Lead</p>
                        </div>
                    </div>
                    <div class="team-col">
                        <div class="team-col-image">
                            <img src={% static "project_tc_gen/imgs/about/team-11.png" %} alt="">
                        </div>
                        <div class="team-name-position">
                            <h4>Mary Jane</h4>
                            <p>Team Lead</p>
                        </div>
                    </div>
                    <div class="team-col">
                        <div class="team-col-image">
                            <img src={% static "project_tc_gen/imgs/about/team-12.png" %} alt="">
                        </div>
                        <div class="team-name-position">
                            <h4>Mary Jane</h4>
                            <p>Team Lead</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Mission and Vision -->
        <section class="mission" id="mission">
            <div class="container">
                <div class="section-header-text">
                    <h2>Our Mission and Vision</h2>
                </div>
                <ul class="mission-list">
                    <li>Lorem ipsum dolor sit amet consectetur. Habitant netus elementum porta massa. </li>
                    <li>Lorem ipsum dolor sit amet consectetur. Habitant netus elementum porta massa. </li>
                    <li>Lorem ipsum dolor sit amet consectetur. Habitant netus elementum porta massa. </li>
                </ul>
            </div>
        </section>

        <!-- Customer Reviews -->
        <section class="customer-reviews" id="customer-reviews">
            <div class="container">
                <div class="section-header-text">
                    <h2>What Our Customers Are Saying</h2>
                </div>
                <div class="customer-reviews-grid">
                    <div class="review-col">
                        <div class="review-col-text">
                            <h4>James Harris</h4>
                            <p>Lorem ipsum dolor sit amet consectetur. Habitant netus elementum porta massa. </p>
                            <div class="review-stars">
                                <img src={% static "project_tc_gen/imgs/about/review-star.png" %} alt="review stars">
                                <img src={% static "project_tc_gen/imgs/about/review-star.png" %} alt="review stars">
                                <img src={% static "project_tc_gen/imgs/about/review-star.png" %} alt="review stars">
                                <img src={% static "project_tc_gen/imgs/about/review-star.png" %} alt="review stars">
                                <img src={% static "project_tc_gen/imgs/about/review-star.png" %} alt="review stars">
                            </div>
                        </div>
                    </div>
                    <div class="review-col">
                        <div class="review-col-text">
                            <h4>James Harris</h4>
                            <p>Lorem ipsum dolor sit amet consectetur. Habitant netus elementum porta massa. </p>
                            <div class="review-stars">
                                <img src={% static "project_tc_gen/imgs/about/review-star.png" %} alt="review stars">
                                <img src={% static "project_tc_gen/imgs/about/review-star.png" %} alt="review stars">
                                <img src={% static "project_tc_gen/imgs/about/review-star.png" %} alt="review stars">
                                <img src={% static "project_tc_gen/imgs/about/review-star.png" %} alt="review stars">
                                <img src={% static "project_tc_gen/imgs/about/review-star.png" %} alt="review stars">
                            </div>

                        </div>
                    </div>
                    <div class="review-col">
                        <div class="review-col-text">
                            <h4>James Harris</h4>
                            <p>Lorem ipsum dolor sit amet consectetur. Habitant netus elementum porta massa. </p>
                            <div class="review-stars">
                                <img src={% static "project_tc_gen/imgs/about/review-star.png" %} alt="review stars">
                                <img src={% static "project_tc_gen/imgs/about/review-star.png" %} alt="review stars">
                                <img src={% static "project_tc_gen/imgs/about/review-star.png" %} alt="review stars">
                                <img src={% static "project_tc_gen/imgs/about/review-star.png" %} alt="review stars">
                                <img src={% static "project_tc_gen/imgs/about/review-star.png" %} alt="review stars">
                            </div>

                        </div>
                    </div>
                    <div class="review-col">
                        <div class="review-col-text">
                            <h4>James Harris</h4>
                            <p>Lorem ipsum dolor sit amet consectetur. Habitant netus elementum porta massa. </p>
                            <div class="review-stars">
                                <img src={% static "project_tc_gen/imgs/about/review-star.png" %} alt="review stars">
                                <img src={% static "project_tc_gen/imgs/about/review-star.png" %} alt="review stars">
                                <img src={% static "project_tc_gen/imgs/about/review-star.png" %} alt="review stars">
                                <img src={% static "project_tc_gen/imgs/about/review-star.png" %} alt="review stars">
                                <img src={% static "project_tc_gen/imgs/about/review-star.png" %} alt="review stars">
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>




    <!-- Footer Section -->
    <footer>
        <div class="container">
            <div class="flex-columns ">
                <div class="col-1">
                    <div class="logo">
                        <img src="./images/Frame 91.png" alt="termstogo logo">
                    </div>
                    <p>TermsToGo is a platform that helps users Generate terms & conditions and privacy policy</p>
                    <div class="social-media-icons">
                        <a href=""><img src={% static 'project_tc_gen/logos/linkedin.svg' %} alt=""></a>
                        <a href=""><img src={% static 'project_tc_gen/logos/facebook.svg' %} alt=""></a>
                        <a href=""><img src={% static 'project_tc_gen/logos/gmail.svg' %} alt=""></a>
                        <a href=""><img src={% static 'project_tc_gen/logos/instagram.svg' %} alt=""></a>
                        <a href=""><img src={% static 'project_tc_gen/logos/twitter.svg' %} alt=""></a>
                      </div>
                </div>
                <div class="col-2">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="li-bt"><a href="#">Watch Demo</a></li>
                        <li class="li-bt"><a href="#">Privacy Policy</a></li>
                        <li class="li-bt"><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <h3>Subscribe to Our Newsletter</h3>
                    <p>Email</p>
                    <form action="">
                        <input type="email" name="email" id="" placeholder="Maryjoe@gmail.com">
                        <button class="submit-btn">Submit Email</button>
                    </form>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>