<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TermsToGo | Frequently Asked Questions</title>

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="style.css" />

    <!--------------- Fonts ----------------->
    <!-- Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <header>
        <div class="container">
            <nav class= 'flex'>
                <div class="logo">
                  <a href="#"><img src="./images/Frame 90.png" alt="termstogo logo"></a> 
                </div>
                <ul class="nav-list flex">
                  <li class="nav-links"><a href="index.html">Home</a></li>
                  <li class="nav-links"><a href="about.html">About</a></li>
                  <li class="nav-links"><a href="contact-us.html">Contact Us</a></li>
                  <li class="nav-links"><a href="faq.html">FAQ</a></li>
                </ul>
                <ul class="login-signup flex">
                  <li class="nav-links"><a href="log-in.html">Log In</a></li>
                  <li class="nav-links header-btn"><a href="sign-up.html">Sign Up</a></li>
                </ul>
              </nav>
        </div>
    </header>
    <!-- Main Section     -->
    <main>
        <section class="faq-section">
            <div class="container">
                <div class="section-header-text">
                    <h1>Frequently Asked Questions</h1>
                 </div>

                <div class="faq-grid">
                    <div class="left-faq">
                        <div class="accordion">
                            <div class="accordion-item" id="question-1">
                                <a href="#question-1" class="accordion-link">
                                    Do I have to pay to use your service?
                                    <ion-icon name="add-outline"></ion-icon>
                                    <ion-icon name="remove-outline"></ion-icon>
                                </a>
                                <div class="answer">
                                    <p>No you will not pay to use our serive, you only have to register your business on our website in order to use our full package. in order to have full access to all we are offering.</p>
                                </div>
                            </div>

                            <div class="accordion-item" id="question-2">
                                <a href="#question-2" class="accordion-link">
                                    What documents are required for creating an account?
                                    <ion-icon name="add-outline"></ion-icon>
                                    <ion-icon name="remove-outline"></ion-icon>
                                </a>
                                <div class="answer">
                                    <p>No you will not pay to use our serive, you only have to register your business on our website in order to use our full package. in order to have full access to all we are offering.</p>
                                </div>
                            </div>

                            <div class="accordion-item" id="question-3">
                                <a href="#question-3" class="accordion-link">
                                    Do I have to pay to use your service?
                                    <ion-icon name="add-outline"></ion-icon>
                                    <ion-icon name="remove-outline"></ion-icon>
                                </a>
                                <div class="answer">
                                    <p>No you will not pay to use our serive, you only have to register your business on our website in order to use our full package. in order to have full access to all we are offering.</p>
                                </div>
                            </div>

                            <div class="accordion-item" id="question-4">
                                <a href="#question-4" class="accordion-link">
                                    Do I have to pay to use your service?
                                    <ion-icon name="add-outline"></ion-icon>
                                    <ion-icon name="remove-outline"></ion-icon>
                                </a>
                                <div class="answer">
                                    <p>No you will not pay to use our serive, you only have to register your business on our website in order to use our full package. in order to have full access to all we are offering.</p>
                                </div>
                            </div>

                            <div class="accordion-item" id="question-5">
                                <a href="#question-5" class="accordion-link">
                                    Do I have to pay to use your service?
                                    <ion-icon name="add-outline"></ion-icon>
                                    <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                                </a>
                                <div class="answer">
                                    <p>No you will not pay to use our serive, you only have to register your business on our website in order to use our full package. in order to have full access to all we are offering.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="right right-faq">
                        <img src="./images/faq-img.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <div class="container">
            <div class="flex-columns ">
                <div class="col-1">
                    <div class="logo">
                        <a href=""><img src="./images/Frame 91.png" alt="termstogo logo"></a>
                    </div>
                    <p>TermsToGo is a platform that helps users Generate terms & conditions and privacy policy</p>
                    <div class="social-media-icons">
                        <a href=""><img src="./images/linkedin.svg" alt=""></a>
                        <a href=""><img src="./images/facebook.svg" alt=""></a>
                        <a href=""><img src="./images/gmail.svg" alt=""></a>
                        <a href=""><img src="./images/instagram.svg" alt=""></a>
                        <a href=""><img src="./images/twitter.svg" alt=""></a>
                    </div>
                </div>
                <div class="col-2">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="li-bt"><a href="#">Watch Demo</a></li>
                        <li class="li-bt"><a href="#">Privacy Policy</a></li>
                        <li class="li-bt"><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <h3>Subscribe to Our Newsletter</h3>
                    <p>Email</p>
                    <form action="">
                        <input type="email" name="email" id="" placeholder="Maryjoe@gmail.com">
                        <button class="submit-btn">Submit Email</button>
                    </form>
                </div>
            </div>
        </div>
    </footer>



    <script src="./main.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>