<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TermsToGo | About Us</title>

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="mediaQueries.css">

    <!--------------- Fonts ----------------->
    <!-- Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Main Section     -->
    <main>
      <div class="forgot-password-flex">
        <div class="forgot-password-flex-left">
          <div class="logo fp-logo">
            <a href="index.html"><img src="./images/Frame 90.png" alt="termstogo logo"/></a>
          </div>
          <h2>Reset Password</h2>
          <form action="" id="forgot-password-form">
            <div class="input-email">
                <p>Please your email</p>
                <input type="email" name="email" id="email-forgot-password" placeholder="example@gmail.com" >
            </div>
            <div class="input-new-password">
                <p>Input new password</p>
                <input type="password" name="password" id="input-new-password" placeholder="Password">
            </div>
            <div class="input-repeat-password">
                <p>Repeat password</p>
                <input type="password" name="password" id="input-repeat-password" placeholder="Password">
            </div>
            <button class="submit-btn fp-btn">Reset Password</button>
          </form>

        </div>
        <div class="forgot-password-flex-right">
          <div class="flex-right-image">
            <img src="./images/forgot-password-image.png" alt="" />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
