<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TermsToGo | Home</title>
    {% load static %}

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href={% static "project_tc_gen/css/newstyle.css" %}

    <!--------------- Fonts ----------------->
    <!-- Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <nav class= 'flex'>
          <div class="logo">
            <a href="#"><img src={% static 'project_tc_gen/imgs/Frame 90.png' %} alt="termstogo logo"></a> 
          </div>
          <ul class="nav-list flex">
            <li class="nav-links"><a href="/">Home</a></li>
            <li class="nav-links"><a href="/about">About</a></li>
            <li class="nav-links"><a href="contact.html">Contact Us</a></li>
            <li class="nav-links"><a href="/faq">FAQ</a></li>
          </ul>
          <ul class="login-signup flex">
            <li class="nav-links"><a href="/sign-in">Log In</a></li>
            <li class="nav-links header-btn"><a href="/sign-up">Sign Up</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section class="section-one">
        <div class="container">
          <p class="tc-headings">
            For the purposes of these terms and conditions:
          </p>
          <p>
            The words of which the initial letter is capitalized have meanings
            defined under the following conditions
          </p>
          <ul class="section-one-list">
            <li class="section-one-list-items">
              <strong>“Account”</strong> means a unique account created for You
              to access our Service or parts of our Service.
            </li>
            <li class="section-one-list-items">
              <strong>“Company”</strong> (referred to as either "the Company",
              "We", "Us" or "Our" in this Agreement) refers to [TermsToGo].
            </li>
            <li class="section-one-list-items">
              <strong>“Country”</strong> refers to [Nigeria].
            </li>
            <li class="section-one-list-items">
              <strong>“Content”</strong> refers to content such as text, images,
              or other information that can be posted, uploaded, linked to or
              otherwise made available by You, regardless of the form of that
              content.
            </li>
            <li class="section-one-list-items">
              <strong>“Device”</strong> means any device that can access the
              Service such as a computer, a cell phone or a digital tablet.
            </li>
            <li class="section-one-list-items">
              <strong>“Feedback”</strong> means feedback, innovations or
              suggestions sent by You regarding the attributes, performance or
              features of our Service.
            </li>
            <li class="section-one-list-items">
              <strong>“Service”</strong> refers to the Website.
            </li>
            <li class="section-one-list-items">
              <strong>“Terms and Conditions”</strong> (also referred as "Terms")
              mean these Terms and Conditions that form the entire agreement
              between You and the Company regarding the use of the Service. This
              Terms and Conditions Agreement was generated by TermsFeed Terms
              and Conditions Generator.
            </li>
            <li class="section-one-list-items">
              <strong>“You”</strong> means the individual accessing or using the
              Service, or the company, or other legal entity on behalf of which
              such individual is accessing or using the Service, as applicable.
            </li>
          </ul>
        </div>
      </section>

      
        <div class="container">
          <div class="tc-sections">
              <h3 class="tc-headings">Acknowledgment</h3>
              <p>
                These are the Terms and Conditions governing the use of this Service
                and the agreement that operates between You and the Company. These
                Terms and Conditions set out the rights and obligations of all users
                regarding the use of the Service.<br /><br />
                Your access to and use of the Service is conditioned on Your
                acceptance of and compliance with these Terms and Conditions. These
                Terms and Conditions apply to all visitors, users and others who
                access or use the Service.<br /><br />
                By accessing or using the Service You agree to be bound by these
                Terms and Conditions. If You disagree with any part of these Terms
                and Conditions then You may not access the Service. You represent
                that you are over the age of 18. The Company does not permit those
                under 18 to use the Service.<br /><br />
                Your access to and use of the Service is also conditioned on Your
                acceptance of and compliance with the Privacy Policy of the Company.
                Our Privacy Policy describes Our policies and procedures on the
                collection, use and disclosure of Your personal information when You
                use the Application or the Website and tells You about Your privacy
                rights and how the law protects You.<br /><br />
                Please read Our Privacy Policy carefully before using Our Service.
              </p>
          </div>
        </div>
      

      <div class="container">
        <div class="tc-sections">
          <h3 class="tc-headings">User Accounts</h3>
          <p>
            When You create an account with Us, You must provide Us information
            that is accurate, complete, and current at all times. Failure to do
            so constitutes a breach of the Terms, which may result in immediate
            termination of Your account on Our Service. You are responsible for
            safeguarding the password that You use to access the Service and for
            any activities or actions under Your password, whether Your password
            is with Our Service or a Third-Party Social Media Service.
          </p>
        </div>

        <div class="tc-sections">
          <h3 class="tc-headings">Content Restrictions</h3>
          <p>
            The Company is not responsible for the content of the Service's
            users. You expressly understand and agree that You are solely
            responsible for the Content and for all activity that occurs under
            your account, whether done so by You or any third person using Your
            account.
          </p>
        </div>

        <div class="tc-sections">
          <h3 class="tc-headings">Copyright Policy</h3>
          <p>
            Intellectual Property Infringement We respect the intellectual
            property rights of others. It is Our policy to respond to any claim
            that Content posted on the Service infringes a copyright or other
            intellectual property infringement of any person.
          </p>
        </div>

        <div class="tc-sections">
          <h3 class="tc-headings">Your Feedback to Us</h3>
          <p>
            You assign all rights, title and interest in any Feedback You
            provide the Company. If for any reason such assignment is
            ineffective, You agree to grant the Company a non-exclusive,
            perpetual, irrevocable, royalty free, worldwide right and license to
            use, reproduce, disclose, sub-license, distribute, modify and
            exploit such feedback without restriction.
          </p>
        </div>

        <button class="tc-btn header-btn">Accept</button>
      </div>
    </main>

    <!-- Footer Section -->
    <footer>
      <div class="container">
          <div class="flex-columns ">
              <div class="col-1">
                  <div class="logo">
                      <img src={% static 'project_tc_gen/imgs/Frame 90.png' %} alt="termstogo logo">
                  </div>
                  <p>TermsToGo is a platform that helps users Generate terms & conditions and privacy policy</p>
                  <div class="social-media-icons">
                      <a href=""><img src={% static 'project_tc_gen/imgs/linkedin.svg' %} alt=""></a>
                      <a href=""><img src={% static 'project_tc_gen/imgs/facebook.svg' %} alt=""></a>
                      <a href=""><img src={% static 'project_tc_gen/imgs/gmail.svg' %} alt=""></a>
                      <a href=""><img src={% static 'project_tc_gen/imgs/instagram.svg' %} alt=""></a>
                      <a href=""><img src={% static 'project_tc_gen/imgs/twitter.svg' %} alt=""></a>
                  </div>
              </div>
              <div class="col-2">
                  <ul>
                      <li><a href="/">Home</a></li>
                      <li class="li-bt"><a href="#">Watch Demo</a></li>
                      <li class="li-bt"><a href="/privacy-policy">Privacy Policy</a></li>
                      <li class="li-bt"><a href="">Terms and Conditions</a></li>
                  </ul>
              </div>
              <div class="col-3">
                  <h3>Subscribe to Our Newsletter</h3>
                  <p>Email</p>
                  <form action="">
                      <input type="email" name="email" id="" placeholder="Maryjoe@gmail.com">
                      <button class="submit-btn">Submit Email</button>
                  </form>
              </div>
          </div>
      </div>
  </footer>
  </body>
</html>
