<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TermsToGo | Home</title>

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="style.css" />

    <!--------------- Fonts ----------------->
    <!-- Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <nav class= 'flex'>
          <div class="logo">
            <a href="#"><img src="./images/Frame 90.png" alt="termstogo logo"></a> 
          </div>
          <ul class="nav-list flex">
            <li class="nav-links"><a href="index.html">Home</a></li>
            <li class="nav-links"><a href="about.html">About</a></li>
            <li class="nav-links"><a href="contact-us.html">Contact Us</a></li>
            <li class="nav-links"><a href="faq.html">FAQ</a></li>
          </ul>
          <ul class="login-signup flex">
            <li class="nav-links"><a href="log-in.html">Log In</a></li>
            <li class="nav-links header-btn"><a href="sign-up.html">Sign Up</a></li>
          </ul>
        </nav>
      </div>
      <!-- <div class="header-img">
        <img
          src="./images/header.png"
          alt="image of a man writing with a pen"
        />
      </div> -->
      <div class="header-text">
        <h1>Generate your Company’s Terms and Conditions in Minutes.</h1>
        <h3>
          Build your brand, generate terms and condtions, create your private
          policy.
        </h3>
        <a href="sign-up.html" class="header-btn btn">Sign up for free</a>
      </div>
    </header>

    <main>
        <section class="info-section">
          <div class="container wrap">
            <h2>Trusted by Millions of Companies</h2>
            <div class="section-one-img">
              <img src="./images/Rectangle 9.jpg" alt="" />
              <img src="./images/Rectangle 10.jpg" alt="" />
              <img src="./images/Rectangle 11.jpg" alt="" />
            </div>
            <a href="#" class="header-btn btn">Discover More Templates</a>
          </div>
        </section>

        <section class="about-us">
          <div class="container">
            <div class="flex-container">
              <div class="left-img">
                <img src="./images/about-us.svg" alt="" />
              </div>
              <div class="right">
                <h3>About Us</h3>
                <p>
                  TermsToGo is a platform that helps companies to make use of
                  already made templates to generate terms and conditions and the
                  private policy for their company easily.
                </p>
              </div>
            </div>
          </div>
        </section>

        <section class="templates">
          <div class="container wrap ">
            <h2>Ready Made Templates</h2>
            <div class="section-one-img">
              <img src="./images/Rectangle 13.jpg" alt="" />
              <img src="./images/Rectangle 14.jpg" alt="" />
              <img src="./images/Rectangle 15.jpg" alt="" />
            </div>
            <a href="#" class="header-btn btn">Generate Terms and Conditions</a>
          </div>
          <div class="generate flex-g container temp-w">
            <div class="generate-left">
                <h3 class="text-desc">Watch Videos on How to Generate Templates</h3>
            </div>
            <div class="generate-right">
                <div class="image">
                    <img src="./images/Frame 100.png" alt="">
                </div>
            </div>
          </div>
        </section>

        <!-- Testimonials -->
        <section class="testimonials wrap">
            <div class="container">
                <h3 class="text-desc">What Our Customers Say About Us</h3>
            </div>
            <div class="test-flex">
                <div class="thumbnail">
                    <div class="thumbnail-img">
                        <img src="./images/thumbnail_1.png" alt="">
                    </div>
                    <div class="thumb-text">
                        <h4>James Adegba</h4>
                        <p>CEO Coften LTD</p>
                    </div>
                </div>
                <div class="test-desc">
                    <p>Creating a terms and conditions when i started my company is very stressful and tiring. Getting to know this platform has really help me a lot. TermsToGo  with their templates made it very easy to generate a good terms and conditions for my company.</p>
                </div>
            </div>

            <div class="test-flex">
                
                <div class="test-desc">
                    <p>Creating a terms and conditions when i started my company is very stressful and tiring. Getting to know this platform has really help me a lot. TermsToGo  with their templates made it very easy to generate a good terms and conditions for my company.</p>
                </div>
                <div class="thumbnail">
                    <div class="thumbnail-img">
                        <img src="./images/thumbnail_2.png" alt="">
                    </div>
                    <div class="thumb-text">
                        <h4>Grace Kimabel</h4>
                        <p>Product Designer</p>
                    </div>
                </div>
            </div>

            <div class="test-flex">
                <div class="thumbnail">
                    <div class="thumbnail-img">
                        <img src="./images/thumbnail_3.png" alt="">
                    </div>
                    <div class="thumb-text">
                        <h4>Adewale Tobi</h4>
                        <p>Product Manager</p>
                    </div>
                </div>
                <div class="test-desc">
                    <p>Creating a terms and conditions when i started my company is very stressful and tiring. Getting to know this platform has really help me a lot. TermsToGo  with their templates made it very easy to generate a good terms and conditions for my company.</p>
                </div>
            </div>
            <a href="#" class="header-btn btn">View More</a>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <div class="container">
            <div class="flex-columns ">
                <div class="col-1">
                    <div class="logo">
                        <img src="./images/Frame 91.png" alt="termstogo logo">
                    </div>
                    <p>TermsToGo is a platform that helps users Generate terms & conditions and privacy policy</p>
                    <div class="social-media-icons">
                        <a href=""><img src="./images/linkedin.svg" alt=""></a>
                        <a href=""><img src="./images/facebook.svg" alt=""></a>
                        <a href=""><img src="./images/gmail.svg" alt=""></a>
                        <a href=""><img src="./images/instagram.svg" alt=""></a>
                        <a href=""><img src="./images/twitter.svg" alt=""></a>
                    </div>
                </div>
                <div class="col-2">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li class="li-bt"><a href="#">Watch Demo</a></li>
                        <li class="li-bt"><a href="#">Privacy Policy</a></li>
                        <li class="li-bt"><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <h3>Subscribe to Newsletter</h3>
                    <p>Email</p>
                    <form action="">
                        <input type="email" name="email" id="" placeholder="Maryjoe@gmail.com">
                        <button class="header-btn submit-btn">Submit Email</button>
                    </form>
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>
