/* Mobile */
@media screen and (max-width: 728px){
    :root{
        --fs-h1: 2rem;
        --fs-h2: 1.2rem;
        --fs-p: 1rem;
    }
    *{
        line-height: 28px !important;
        overflow-x: hidden;
    }
    p{
        font-size: 14px !important ;
        line-height: 45px;
        margin-top: 1.3rem;
    }
    .container{
        width: 90%;
        padding: 0;
        padding-block: 1rem;
    }
    
    
    .flex-g{
        flex-direction: column;
    }
    .header-btn{
        padding: 7px 10px;
        font-size: 14px;
        background-color: #5D269D;
        border-radius: 8px;
        display: block;
        width: fit-content;
        text-align: center;
    }
    .header-text h1{
        font-size: var(--fs-h1);
        font-weight: 700;
        max-width: 1044px;
        text-align: center;
        line-height: 2.5rem !important;
        margin-bottom: 1.4rem;
    }
    .header-text >h3{
        line-height: 43.58px;
        font-weight: 400;
    
    }
    .login-signup{
        display: none;
    }
    .right{
        margin: 1.5rem auto;
    }
    .flex-container{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    .section-one-img{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .text-desc{
        font-size: 1rem;
        line-height: 24px !important;
        margin-bottom: 2rem;
        
    }
    /* testimonials */
    .testimonials h3{
        width: 100%;
        font-weight: 700;
        padding: 0;
        font-size: 1rem;
    }
    
    .test-flex{
        width: 90%;
        margin: auto;
        display: block;
        margin-bottom: 68px;
    }
    .test-flex{
        /* flex-direction: column; */
    }
    .thumbnail{
        display: block;
        margin: auto;
        width: fit-content;
    }
    .thumbnail-img{
        width: 70px;
        height: 70px;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    .thumb-text{
        display: none;
    }

    .test-desc{
        border-radius: 10px;
        padding: 1rem;
    }
    .test-desc p{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2%;
    }
    .testimonials .test-desc p::after{
        content: ' James Adegba (CEO Coften Ltd)';
        color: #000;
        font-weight: 700;
        font-size: 12px;
    }
    /* Hamburger menu */
    .hamburger-menu{
        display: block;
        
    }
    .nav-list{
        position: absolute;
        background: skyblue;
        height: 100vh;
        width: 200px;
        top:0;
        /* To hide the menu */
        right:-200px;
        text-align: left;
        
        /* To position the menu at the top of the other elements */
        z-index: 2;
        transition: 1s;
    }
    
    /* Footer */
    .flex-columns{
        grid-template-columns: 1fr;
        gap: 20px;
        justify-content: space-around;
        padding-left: 0;
    }
    .social-media-icons {
        width: 100%;
        margin-top: 1.5rem;    
    }
    .col-1 p{
        font-size: 14px;
        width: 100%;
        line-height: 27.24px;
        font-weight: 400;
    }
    .col-2 ul{
        margin-top: 1.5rem;
    }
    .col-2 ul li{
        padding-top: 0.7rem;
        margin: 0;
    }
    .col-3{
        margin-top: 1.5rem;
    }
    .col-3 h3{
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
    }
    .col-3 input{
        margin-top: 0.3rem;
        
    }
    .social-media-icons{
        width: 80%;
        margin: 34px auto 0;
    }
    
    
    
}


@media screen and (max-width: 1024px){
    *{
        /* overflow-x: hidden; */
    }
    .nav-links{
        font-size: 16px;
        font-weight: normal;
        margin-left: 1rem;
     }
     .logo{
        width: 150px;
    }
}

