<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  {% load static %}
  <link href={% static 'project_tc_gen/css/DASHBOARD.css' %} rel="stylesheet" type="text/css" />
</head>

<body>
  <script src="script.js"></script>
 <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script>
  
  <div class="box">

    <img src={% static 'project_tc_gen/imgs/LOGO.png' %} alt="Logo" class="logo">
    <img src={% static 'project_tc_gen/imgs/dashboard/Frame227.png' %} class="pic">
    <br>
    <div class="options">
      <a href="">Dashboard</a>
      <br> <a href="/TC-templates">Template</a>
      <br><a href="">Files</a>
      <br><a href="">Projects</a>
      <br><a href="/profile">Profile setting</a>
      <p><a href="/logout">Logout</a></p>
    </div>


  </div>
  <div class="body">

    <div class="box2">
      <input type="text" placeholder="Search.."> <br>

    </div>
    <h3 id="text">Welcome</h3>
    <br>
    <div>
      <img src={% static 'project_tc_gen/imgs/dashboard/IMG4.png' %} class="image">
    </div>

    <h3 style="font-size:15px ;  padding-top: 30%">New Templates</h3>
    <main>

      <div class="itemA"><img src={% static 'project_tc_gen/imgs/dashboard/Rectangle9.png' %} ></div>
      <div class="itemB"><img src={% static 'project_tc_gen/imgs/dashboard/Rectangle10.png' %} ></div>
      <div class="itemC"><img src={% static 'project_tc_gen/imgs/dashboard/Rectangle11.png' %}></div>
    </main>
    <div class="play">
      <img src="">
      <img src={% static 'project_tc_gen/imgs/dashboard/Vector.png' %}>
      <h3>WATCH NEW VIDEO</h3>
    </div>

    <h3 style="font-size:15px ;  padding-top: 35%;">Projects</h3>
    <div class="proj">

      <div class="itemX">Lorem ipsum dolor sit amet consectetur. Habitant netus elementum porta massa. </div>
      <div class="itemY">Lorem ipsum dolor sit amet consectetur. Habitant netus elementum porta massa. </div>
      <div class="itemZ">Lorem ipsum dolor sit amet consectetur. Habitant netus elementum porta massa. </div>
    </div>

  </div>

  <footer>

    <div class="flex-columns">
      <div class="col-1">
        <div class="logo">
          <img src= {% static 'project_tc_gen/imgs/Frame 91.png' %} alt="termstogo logo">
        </div>
        <p class="des">TermsToGo is a platform that helps users Generate terms & conditions and privacy policy</p>
        <div class="social-media-icons">
          <a href=""><img src={% static 'project_tc_gen/logos/dashboard/lk.png' %} alt=""></a>
          <a href=""><img src={% static 'project_tc_gen/logos/dashboard/facebook.png' %} alt=""></a>
          <a href=""><img src={% static 'project_tc_gen/logos/dashboard/gmail.png' %} alt=""></a>
          <a href=""><img src={% static 'project_tc_gen/logos/dashboard/instagram.png' %} alt=""></a>
          <a href=""><img src={% static 'project_tc_gen/logos/dashboard/twitter.png' %} alt=""></a>
        </div>
      </div>

      <div class="col2">
        <ul>
          <li class="list"><a href="#">Watch Demo</a></li>
          <li class="list"><a href="#">Privacy Policy</a></li>
          <li class="list"><a href="#">Terms and Conditions</a </li>
        </ul>
      </div>

      <div class="col3">
        <h3>Subscribe to Our Newsletter</h3>
        <p class="p">Email:</p>
        <form action="">
          <input type="email" name="email" id="undr" placeholder="Maryjoe@gmail.com">
          <button class="submit">Submit Email</button>
      </div>
      </form>
  </footer>
</body>

</html>
