<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  {% load static %}
  <link rel="stylesheet" href={% static 'project_tc_gen/css/sign-in.css' %} />
  <link rel="stylesheet" href={% static 'project_tc_gen/css/mediaQueries.css' %}>
  {% comment %} <link href={% static 'project_tc_gen/css/sign-in.css' %} rel="stylesheet" type="text/css" /> {% endcomment %}

  <script src="script.js"></script>
</head>

<body>

  <div class="class1">

    <div>
      <img src={% static 'project_tc_gen/imgs/LOGO.png' %}>
    </div>

    <br>

    <div style="font-family: 'Open Sans';display: flex;
align-items: center; padding-left: 10%; letter-spacing: 0.002em;
color: #2E2E2E; font-style: normal; font-size: 30px; font-weight:600px">
      Welcome Back
    </div>
    <p style="font-family: 'Open Sans' font-weight: 500px;"> Enter your login details to proceed</p>
    <div>
      <form action="" method="post">
        {% csrf_token %}

        <label for="username" id="form">Username:</label><br>
        <input type="text" placeholder="JohnLucky259" name="username"><br>

        <label for="password" id="form">Password:</label><br>
        <input type="password" placeholder="enter password here" name="password"><br>

        <input type="checkbox">
        <label for="policy"
          style=" width: 80%; font-family: 'Open Sans'; font-style: normal; font-size: 80%;  display: flex; align-items: center; letter-spacing: 0.002em; color: #121212;">
          Remember me
          <div style="padding-left: 50%;">Forgot Password? <a href="">Reset</a></div>
        </label>

        <br>

        <input type="submit" style="display: flex; flex-direction: row; justify-content: center; 
align-items: center; padding: 10px; gap: 10px; width: 40%;
 cursor:pointer; height: 14%; background: #5D269E; border-radius: 10px; color:white;" value="Login">
      </form>
<div>
  {% for message in messages %}
  <h3> {{message}} </h3>
  {% endfor %}


    </div>

    <div style="font-family: 'Open Sans'; font-style: normal; font-weight: 400; font-size: 100%; line-height: 32px;
display: flex;
align-items: center;
letter-spacing: 0.002em;
    width: 60%;
/* GREY 11 */
color: #969598;
">Don't have an account? <a href="/sign-up"> Sign up for free here </a>
    </div>


    <div style="width: 158px;
height: 22px;

/* REG- Body text normal */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 80%;
line-height: 22px;
text-align: center;
letter-spacing: 0.002em;
color: #646365;
    width:50%;
">
      or continue with <br>

      <img src= {% static 'project_tc_gen/imgs/image7.png' %}
       style="
width: 30px;
height: 30px;
flex: none;
order: 0;
flex-grow: 0;"> 
<img src={% static 'project_tc_gen/imgs/image8.png' %} style="
width: 30px;
height: 30px;
flex: none;
order: 0;
flex-grow: 0;">
    </div>

  </div>
</div>

<img src={% static 'project_tc_gen/imgs/Frame 80.png' %} alt=""  id="side" style=" 
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  top: 0%;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  float: right;
  ">

</body>

</html>