<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  {% load static %}
  
  <link href={% static "project_tc_gen/css/SIGN-UP.css" %} rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href={% static 'project_tc_gen/css/mediaQueries.css' %}>

  <script src="script.js"></script>
</head>

<body>
<img src={% static "project_tc_gen/imgs/Frame 80.png" %} class="class">
 
<div id="side">
  
  <div>
    <img src= {% static "project_tc_gen/imgs/LOGO.png" %}>
  </div> 

  <br>
  
  <div style="font-family: 'Open Sans';display: flex;
align-items: center; text-align: center; letter-spacing: 0.002em;
color: #2E2E2E; font-style: normal; font-size: 30px;">
    Create an Account
  </div>

<div >
  <form  action="" method="POST" >
    {% csrf_token %}
    <label for="username" id="form">Username:</label><br>
    {{form.username}}<br>
    {% comment %} <input type="text"  placeholder="JohnLucky254"><br> {% endcomment %}
    
    <label for="firstname" id="form">Firstname:</label><br>
    {{form.first_name}}<br>

    <label for="lastname" id="form">Lastname:</label><br>
    {{form.last_name}}<br>

    <label for="mail"  id="form" style="">Email Address:</label><br>
    {{form.email}}<br>
    {% comment %} <input type="email" placeholder="example@gmail.com"><br> {% endcomment %}

    <label for="password"  id="form">Password:</label><br>
    {{form.password1}}<br>
    {% comment %} <input type="text" placeholder="enter password here"><br> {% endcomment %}

    <label for="Confirmpassword"  id="form">Confirm Password:</label><br>
    {{form.password2}}<br>
    {% comment %} <input type="text" placeholder="confirm password here"><br> {% endcomment %}

    <input type="checkbox" >
  <label for="policy" style=" width: 80%; font-family: 'Open Sans'; font-style: normal; font-size: 80%;  display: flex; align-items: center; letter-spacing: 0.002em; color: #121212;">By creating account means you are okay with our Terms of Services, Privacy Policy and Notification Settings. </label><br>

   <input type="submit" style="display: flex; flex-direction: row; justify-content: center; 
align-items: center; padding: 10px; gap: 10px; width: 80%;
height: 14%; background: #5D269E; border-radius: 10px; cursor: pointer;" value="Submit">
  </form>
  
</div>
  {{form.errors}}
  <div style="font-family: 'Open Sans'; font-style: normal; font-weight: 400; font-size: 100%; line-height: 32px;
display: flex;
align-items: center;
letter-spacing: 0.002em;
    width: 50%;
/* GREY 11 */
color: #969598;
">Already have an account? Login  <a href="/sign-in">here</a>
  </div>
  

  <div style="width: 158px;
height: 22px;

/* REG- Body text normal */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 80%;
line-height: 22px;
text-align: center;
letter-spacing: 0.002em;
color: #646365;
    width:50%;
">
  or sign up with <br>
    
    <img src={% static "project_tc_gen/imgs/image7.png" %} style="
width: 30px;
height: 30px;
flex: none;
order: 0;
flex-grow: 0;"> <img src= {% static "project_tc_gen/imgs/image8.png" %} style="
width: 30px;
height: 30px;
flex: none;
order: 0;
flex-grow: 0;">  </div>
  
</div>
  
</body>

</html>