*,*::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    letter-spacing: 0.2%;
    line-height: 38.13px;
}

picture,img,svg{
    display: block;
    width: 100%;
}

body{
    font-family: var(--open-sans);
}

:root{
    --open-sans: 'Open Sans', sans-serif;
    --primary-col: #5D269D;
    --col-heading: #1E1E1E;
    --col-p: #250F3F;
    --col-grey: #EAEAEA;
    --col-nav-links: #121212;
    --fs-h1: 2.75rem;
    --fs-h2: 1.5rem;
    --fs-p: 1rem;
}

/* Utility Classes */

.container{
    padding: 1.5rem ;
    width: 90%;
    margin: auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-g{
    /* display: grid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    outline: none;
    border: none;
    display: block;
    width: 100%;
    margin-top: 2rem;
}
.submit-btn{
    color: #fff;
    font-size: 14px;
    padding: 16px 56px 16px  56px;
    background-color: #5D269D;
    border-radius: 8px;
    display: block;
    /* width: fit-content; */
}

/* Section headers */
.section-header-text{
    text-align: center;
    margin-bottom: 3rem;

}
.section-header-text h1{
    font-size: 3.25rem;
}
.section-header-text p{
    font-size: 2.375rem;
    margin-top: 1.25rem;
}

h2{
    font-size: var(--fs-h2);
    text-align: center;
    padding: 0.5rem;
}


/* NavBar */
.logo{
    width: 200px;
}

.nav-links{
   font-size: 1.2rem;
   font-weight: normal;
   margin-left: 2rem;
}

.nav-links > a{
    color: var(--col-nav-links);
    
}
.menu-icon{
    display: none;
    /* border: #000 solid 2px; */
    
}
.menu-icon{
    font-size: 2rem;
    display: none;
    align-items: center;
}
.header-btn{
    color: #fff;
    padding: 5px 16px;
    font-size: 1rem;
    background-color: #5D269D;
    border-radius: 10px;
    display: block;
    width: fit-content;
    text-align: center;
}
.header-btn > a{
    color: #fff;
}
.btn{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.btn-bottom{
    margin-bottom: 3rem;
}
.header-text{
    background-image: url(./images/header.png);
    background-size: cover;
    background-position: center;
    padding: 4rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-text h1{
    font-size: var(--fs-h1);
    font-weight: 700;
    max-width: 1044px;
    text-align: center;
    line-height: 65px;
}
.header-text >h3{
    line-height: 43.58px;
    font-weight: 400;

}

/* Info Section Sttyling */

section{
    margin-top: 3rem ;
}
.info-section h2{
    text-align: center;
    font-weight: 600;
    line-height: 43.58px;
    letter-spacing: 0.2%;    
}

.section-one-img{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.btn-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
    margin-bottom: 3rem;
}

/* About Us */
.about-us{
    /* border: red solid 2px; */
    padding: 2rem 0;
}
.flex-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.left{
    max-width: 630px;    
}

.right{
    margin-left: 3rem;
}
.right h3{
    text-align: center;
    color: #F20089;
    font-weight: 600;
    font-size: 24px;
    line-height: 32.68px;
    letter-spacing: 0.2%;
}

.right p{
    font-weight: 400;
    font-size: 1rem;
    color: #646365;
    line-height: 40px;
    letter-spacing: 0.2%;
}

/* Templates section */
.temp-w{
    width: 80%;
    margin: auto;
}
.text-desc{
    font-size: 1.5rem;
    color: #F20089;
    line-height: 32.68px;
    text-align: center;
    font-weight: 600;
    
}
.generate-right{
    width: 560px;
    height: 560px;
    height: auto;
    
}
.image img{
    object-fit: cover;
}

.testimonials{
    min-height: 100vh;
    background-color: #CFB9E9;
}

.testimonials .text-desc{
    margin-top: 2rem;
}
.test-flex{
    width: 60%;
    margin: auto;
    display: flex;
    margin-bottom: 68px;
}
.test-flex-reverse{
    flex-direction: row-reverse;
}
.thumbnail-img{
    width: 100px;
    height: 100px;
}
.thumbnail{
    /* margin-right: 40px; */
    text-align: center;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.test-desc{
    background-color: #E2D5F2;
    border-radius: 20px;
    height: fit-content;
    padding: 2rem;
}
.test-desc p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2%;
}

.thumb-text h4{
    font-size: 16px;
    line-height: 1.5rem;
}
.thumb-text p{
    font-size: 14px;
    line-height: 1rem !important;
}




/* Contact Us Page */
#contactus{
    padding-block: 3rem;
    background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url(./images/contactus-bg.jpg);
    /* background-size: cover; */
    background-position: center;
    margin-top: 0 !important;
}

.left{
    border: var(--col-grey) solid 2px;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    /* height: 100vh; */
    margin-left: 2rem;
}
.flex-reverse{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: blue solid 2px; */
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
}

.contactus input,
textarea,
.faq-section input{
    font-size: 14px;
    color: var(--col-nav-links);
    font-family: var(--open-sans);
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.2rem 0.4rem;
    border-radius: 8px;
    outline: none;
    border: var(--col-grey) solid 2px;
    resize: none;
}
textarea{
    height: 200px;
}
textarea::placeholder,
.contactus input::placeholder{
    font-family: var(--open-sans);
    font-size: 1rem;
}
.right-contact-page{
    width: 300px;
    margin-left: 5rem;
    /* border: black solid 2px; */
}

/* FAQ section */
.faq-section{
    width: 100%;
    /* height: 100vh; */
}
.faq-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex: 70% 30%; */
}
.answer{
    line-height: 28px !important;
    /* width: 90%; */
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: rgb(231, 229, 229);
    transition: max-height 650ms;
}
.answer::before{
    content: '';
    position: absolute;
    width: 0.6rem;
    height: 90%;
    background-color: var(--primary-col);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p{
    padding: 2rem;
    line-height: 28px;
    width: 100%;
}


.left-faq{
    width: 80%;
}

.accordion-item{
    background-color: transparent;
    border: var(--col-grey) solid 1px;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
}

.accordion-item:target .answer{
    max-height: 20rem;
}
.accordion-link{
    color: #000;
    font-size: 1.3rem;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}
.accordion-link ion-icon{
    color: rgb(107, 105, 105);
    
}
.accordion-link ion-icon:nth-child(2){
    display: none;
}

/* About Us Section */
.about-us-header-flex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;    
}

.about-us-header-flex-left p{
    width: 85%;
    padding-left: 2rem;
    font-size: 24px;
}
.about-us-images{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}
.about-us-images img:first-child{
    padding-top: 3rem;    
}

#about-us-teams{
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url(./images/contactus-bg.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 0 !important;
    padding: 3rem 0;
}
.section-header-text h2{
    font-size: 2rem;
}
.section-header-text h2::after{
    content: '';
    display: block;
    background-color: var(--primary-col);
    height: 2px;
    width: 20%;
    margin: 0 auto;
    margin-top: 15px;
}
.team-col-image {
    width: 80px;
}
.team{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;
    padding: 0 3rem;
    width: fit-content;
    margin: auto;
    
}
.team-col{
    display: flex;
    align-items: center;
    margin-right: 4rem;
    margin-top: 1rem;
    width: fit-content;
    line-height: 5px;
}
.team-col>.team-name-position{
    /* margin-left: 1rem; */
}
.team-name-position h4,
.team-name-position p,
.review-col p{
    line-height: 1.3rem;
}
.mission-list{
    width: fit-content;
    margin: 0 auto;
}
.mission-list li{
    list-style-type: circle;
}

/* Customer Reviews Section */
.customer-reviews{
    background-color: #faf6f6;
    padding: 2rem 0;
}
.customer-reviews-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;
    padding: 0 3rem;
    margin: auto;
}
.review-col{
    background-color: #fff;
    padding: 2rem;
    box-shadow: 2.79498px 2.79498px 7.68619px rgba(18, 18, 18, 0.25);
    border-radius: 10px;
}

.review-col-text h4{
    text-align: center;
}
.review-stars{
    display: flex;
    float: right;
    margin-top: 7px;
}
.review-stars img{
    width: 15px;
    margin-left: 5px;
}

/* Error Page */
.error-section{
    text-align: center;
    padding: 3rem;
}
.error-buttons{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.error-btn{
    color: #000;
    padding: 0.4rem 1.2rem;
    border: #000 solid 1px;
    border-radius: 8px;
}


/* Footer Section Styling */
footer{
    background-color: #160926;
    border-top: solid white 1px;
    padding-block: 3rem ;
    color: white;
}
.flex-columns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-around;
    padding-left: 2rem;
    /* border: white solid 2px; */
}

.social-media-icons {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 34px;

}
.social-media-icons img{
    width: 20px;
    display: flex;
    
}
.col-1 p{
    font-size: 14px;
    width: 65%;
    line-height: 27.24px;
    font-weight: 400;
}
.col-2 a{
    color: #fff;    
}
.li-bt{
    margin-top: 2rem;
}
.col-3 h3{
    margin-bottom: 2rem;
    font-size: 24px;
}
.col-3 input{
    background-color: transparent;
    outline: none;
    padding: .6rem;
    color: white;
    border: solid #fff 1px;
    margin-top: .5rem;
    /* width: 300px; */
    display: block;
    width: 100%;
}

/* Error page */
.error-image{
    max-width: 350px;
    margin: 1rem auto;

}

/* Terms and Conditions */
li.section-one-list-items{
    list-style: disc;
}

.tc-headings{
    font-size: 1.4rem;
    font-weight: 600;
}
.tc-sections{
    margin-bottom: 1.5rem;
}
.tc-btn{
   width: fit-content;
   margin-block-end: 4rem;
   margin-inline: auto;
   font-size: 1.3rem;
    
}