<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  {% load static %}
  <link href={% static "project_tc_gen/css/TandC TEMPLATE.css" %} rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href={% static 'project_tc_gen/css/mediaQueries.css' %}>
</head>

<body>
  <script src="script.js"></script>

  <div class="box">

    <img src={% static "project_tc_gen/imgs/LOGO.png" %} alt="Logo" class="logo">
    <img src={% static "project_tc_gen/imgs/Frame227.png" %} class="pic">
    <br>
    <div class="options">
      <a href="/dashboard">Dashboard</a>
      <br> <a href="/TC-templates">Template</a>
      <br><a href=""/files.>Files</a>
      <br><a href="/projects">Projects</a>
      <br><a href="/profile">Profile setting</a>
      <p><a href="/logout">Logout</a></p>
    </div>


  </div>
{% comment %} 
  <div class="sidebar">
    <div class="container1">
        <div class="logo">
            <img width="90%" height="90%" src={% static "project_tc_gen/imgs/profile/Termstogologo.png" %}>
        </div>
        <div class="dp_container">
            <a href="#">
                <img class="dp" width="100%" height="100%" src={% static "project_tc_gen/imgs/profile/me.JPG" %}>
            </a>
        </div>
        <div class="container2">
            <div class="container3">
                <ul class="list">
                    <li class="list_item"><a href="/dashboard" style="text-decoration: none">Dashboard</a></li>
                    <li class="list_item"><a href="/TC-templates" style="text-decoration: none">Templates</a></li>
                    <li class="list_item"><a>Files</a></li>
                    <li class="list_item"><a>Projects</a></li>
                    <li class="list_item"><a href="" style="text-decoration: none">Profile Settings</a></li>
                </ul>
            </div>
            <button id="btn1">Logout</button>
        </div>
    </div>
</div>
 {% endcomment %}
  <div class="temp">
    <h2 class="files">Terms and Condition Templates</h2>
  <div class="clas"> Intellectual property means, collectively, the patents, copyrights (and moral rights) Trade marks, designs, models brands, names, trade names, graphics, icons Hyperlinks, know-how, trade secrets and any other type of intellectual property (registered or unregistered) which are owned by, licensed to and/or held Lorem ipsum dolor sit amet consectetur. Habitant netus elementum porta massa. 
  </div>
    
     <div class="clas">Intellectual property means, collectively, the patents, copyrights (and moral rights)Trade marks, designs, models brands, names, trade names, graphics, icons Hyperlinks, know-how, trade secrets and any other type of intellectual property (registered or unregistered) which are owned by, licensed to and/or held Lorem ipsum dolor sit amet consectetur. Habitant netus elementum porta massa.
     </div>
    
     <div class="clas"> Intellectual property means, collectively, the patents, copyrights (and moral rights) Trade marks, designs, models brands, names, trade names, graphics, icons Hyperlinks, know-how, trade secrets and any other type of intellectual property (registered or unregistered) which are owned by, licensed to and/or held Lorem ipsum dolor sit amet consectetur. Habitant netus elementum porta massa.
     </div>

  </div> 
  <h2 class="fil">Privacy Policy Templates</h2>
    <div class="privacy"> 
    
  <div class="priv" >
      
  <div ><span> Intellectual property means, collectively, the patents, copyrights (and moral rights) Trade marks, designs, models brands, names, trade names, graphics, icons Hyperlinks, know-how, trade secrets and any other type of intellectual property (registered or unregistered) which are owned by, licensed to and/or held Lorem ipsum dolor sit amet consectetur. Habitant netus elementum porta massa. </span>
  </div>
    
     <div class="priv"><span>Intellectual property means, collectively, the patents, copyrights (and moral rights)Trade marks, designs, models brands, names, trade names, graphics, icons Hyperlinks, know-how, trade secrets and any other type of intellectual property (registered or unregistered) which are owned by, licensed to and/or held Lorem ipsum dolor sit amet consectetur. Habitant netus elementum porta massa.
     </span></div>
    
     <div class="priv"> <span>Intellectual property means, collectively, the patents, copyrights (and moral rights) Trade marks, designs, models brands, names, trade names, graphics, icons Hyperlinks, know-how, trade secrets and any other type of intellectual property (registered or unregistered) which are owned by, licensed to and/or held Lorem ipsum dolor sit amet consectetur. Habitant netus elementum porta massa.
     </span></div>

</div>
    </div>

    <footer>

      <div class="flex-columns">
        <div class="col-1">
          <div class="logo">
            <img src= {% static 'project_tc_gen/imgs/Frame 91.png' %} alt="termstogo logo">
          </div>
          <p class="des">TermsToGo is a platform that helps users Generate terms & conditions and privacy policy</p>
          <div class="social-media-icons">
            <a href=""><img src={% static 'project_tc_gen/logos/lk.png' %} alt=""></a>
            <a href=""><img src={% static 'project_tc_gen/logos/facebook.png' %} alt=""></a>
            <a href=""><img src={% static 'project_tc_gen/logos/gmail.png' %} alt=""></a>
            <a href=""><img src={% static 'project_tc_gen/logos/instagram.png' %} alt=""></a>
            <a href=""><img src={% static 'project_tc_gen/logos/twitter.png' %} alt=""></a>
          </div>
        </div>
  
        <div class="col2">
          <ul>
            <li class="list"><a href="#">Watch Demo</a></li>
            <li class="list"><a href="#">Privacy Policy</a></li>
            <li class="list"><a href="#">Terms and Conditions</a </li>
          </ul>
        </div>
  
        <div class="col3">
          <h3>Subscribe to Our Newsletter</h3>
          <p class="p">Email:</p>
          <form action="">
            <input type="email" name="email" id="undr" placeholder="Maryjoe@gmail.com">
            <button class="submit">Submit Email</button>
        </div>
        </form>
    </footer>

</body>

</html>