<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  {% load static %}
  <link href={% static "project_tc_gen/css/VERIFICATION PAGE.css" %} rel="stylesheet" type="text/css" />
</head>

<body>
  <script src="script.js"></script>

  <script src="script.js"></script>

  <div class="box">

    <img src={% static "project_tc_gen/imgs/LOGO.png" %} alt="Logo" class="logo">
    <img src={% static "project_tc_gen/imgs/Frame227.png" %} class="pic">
    <br>
    <div class="options">
      <a href="/dashboard">Dashboard</a>
      <br> <a href="/TC-templates">Template</a>
      <br><a href="">Files</a>
      <br><a href="">Projects</a>
      <br><a href="/profile">Profile setting</a>
      <p><a href="/logout">Logout</a></p>
    </div>


  </div>

  <div class="tem">
    <h3 class="file">TEMPLATES</h3>
  <div class="class"> Intellectual property means, collectively, the patents, copyrights (and moral rights) Trade marks, designs, models brands, names, trade names, graphics, icons Hyperlinks, know-how, trade secrets and any other type of intellectual property (registered or unregistered) which are owned by, licensed to and/or held Lorem ipsum dolor sit amet consectetur. Habitant netus elementum porta massa. <br><br><br><br><br><br><br><button class="select">Select</button>
  </div>
    
     <div class="class">Intellectual property means, collectively, the patents, copyrights (and moral rights)Trade marks, designs, models brands, names, trade names, graphics, icons Hyperlinks, know-how, trade secrets and any other type of intellectual property (registered or unregistered) which are owned by, licensed to and/or held Lorem ipsum dolor sit amet consectetur. Habitant netus elementum porta massa.<br><br><br><br><br><br><br><button class="select">Select</button>
     </div>
    
     <div class="class"> Intellectual property means, collectively, the patents, copyrights (and moral rights) Trade marks, designs, models brands, names, trade names, graphics, icons Hyperlinks, know-how, trade secrets and any other type of intellectual property (registered or unregistered) which are owned by, licensed to and/or held Lorem ipsum dolor sit amet consectetur. Habitant netus elementum porta massa.<br><br><br><br><br><br><br><button class="select">Select</button>
     </div>
    
</div>

<div class="dd">
  Document type: Terms and condition
  <br><br>Company  policy: Fintech
</div>

<div class="container">
    <button class="btn1">Go back</button>
  
    <button class="btn2">Download</button>
  </div>


  <footer>

    <div class="flex-columns">
      <div class="col-1">
        <div class="logo">
          <img src= {% static 'project_tc_gen/imgs/Frame 91.png' %} alt="termstogo logo">
        </div>
        <p class="des">TermsToGo is a platform that helps users Generate terms & conditions and privacy policy</p>
        <div class="social-media-icons">
          <a href=""><img src={% static 'project_tc_gen/logos/lk.png' %} alt=""></a>
          <a href=""><img src={% static 'project_tc_gen/logos/facebook.png' %} alt=""></a>
          <a href=""><img src={% static 'project_tc_gen/logos/gmail.png' %} alt=""></a>
          <a href=""><img src={% static 'project_tc_gen/logos/instagram.png' %} alt=""></a>
          <a href=""><img src={% static 'project_tc_gen/logos/twitter.png' %} alt=""></a>
        </div>
      </div>

      <div class="col2">
        <ul>
          <li class="list"><a href="#">Watch Demo</a></li>
          <li class="list"><a href="#">Privacy Policy</a></li>
          <li class="list"><a href="#">Terms and Conditions</a </li>
        </ul>
      </div>

      <div class="col3">
        <h3>Subscribe to Our Newsletter</h3>
        <p class="p">Email:</p>
        <form action="">
          <input type="email" name="email" id="undr" placeholder="Maryjoe@gmail.com">
          <button class="submit">Submit Email</button>
      </div>
      </form>
  </footer>

</body>

</html>