* { 
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html,
body {
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
}
main {
    width: 100%;
    height: 103vh;
    display: flex;
    flex-direction: row;

}
.sidebar {

    border-top: 1px solid lightgray;
    width: 20%;
    height: 99%;
    position: relative;
    top: 1%;
    display: flex;
    align-items: center;
    background-color: #FCFCFC;
    box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
}
.container1 {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}
.dp_container {
    width: 35%;
    height: 15%;
    margin: 0px 0px 0px 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
}
.dp_container a {
    width: 100%;
    height: 100%;
}


.dp {
    border-radius: 100%;

}
.container2 {
    width: 100%;
    height: 56%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container3 {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: stretch;
}
.list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
.list_item:hover,
#btn1:hover,
#btn2:hover,
#btn3:hover
 {
    background-color: rgba(92, 37, 157, 0.2);
    color: black;
}
label, .list_item:hover, button:hover
{
    cursor: pointer;
}
.list_item {
    width: 100%;
    padding-top: 30%;
    list-style: none;
    text-align: right;
    height: 20%;
    box-sizing: border-box;
    padding: 2%;
    padding-right: 10%;
    font-size: 90%;
}
#btn1 {

    width: 100%;
    height: 12%;
    border: none;
    background: #FCCCE7;
    border-radius: 10px;
}
.field_container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    width: 45%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.container4 {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.field {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}
label {
    height: 22%;
    width: 100%;
    font-size: 60%;
    color: grey;
    font-weight: lighter;
    position: relative;
    top: 0%;
    left: 0%;
}
input:hover {
    cursor: pointer;
    border: 2px solid #4A1E7E;
}

input:focus {
    outline: 1px solid #4A1E7E;
}
#name, #email, #website, #address, #password
 {
    height: 66%;
    width: 100%;
    font-size: 70%;
    padding-left: 3%;
    color: black;
}
.fields {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.fields_1 {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;

}
#num, #cntry {
    height: 66%;
    width: 100%;
    font-size: 70%;
    padding-left: 3%;
    color: black;
}
#btn2 {
    color: white;
    position: relative;
    left: 84%;
    width: 16%;
    height: 8%;
    background: #5C259D;
    border: 1px solid #A0A0A0;
    border-radius: 8px;
}
footer {
    color: #FCFCFC;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #160926;
}
.container5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80%;
    width: 90%;
}
.container6 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.container6 img {
    margin:0px auto;
}
.container6 p {
    width: 100%;
    height: 35%;
    text-align: left;
}
.socials {

    width: 100%;
    height: 8%;
    border: 2px solid #160926;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container7 ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    height: 100%;
}
.container7 ul li {
    width: 100%;
    height: 13%;
    padding-left: 25%;
}
.container7 ul li a {
    color: #FCFCFC;
    text-decoration: none;
}
.container7 ul li a:hover {
    text-decoration: underline;
}
.container8 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.container8 h2 {
    width: 100%;
    height: 16%;
    text-align: center;
}
.container6, .container7, .container8 {
    width: 32%;
    height: 100%;
}
.container9 {
    width: 100%;
    height: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.subscribe {
    width:100%;
    height: 51%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   
}
.subscribe label {
    height: 29%;
    width: 100%;
    padding-left: 3%;
    font-size: 80%;
}
.subscribe input {
    height: 55%;
    width: 100%;
    font-size: 70%;
    padding-left: 3%;
    border-radius: 8px;
    color: black;
    border: 1px solid #5D269D ;
    background-color: #160926;
}
.subscribe input:focus, .subscribe input:hover {
    outline: 1px solid #FCFCFC;
    color: #FCFCFC;
}
#btn3 {
    background-color: #5D269D;
    width: 100%;
    height: 25%;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
    color: #FCFCFC;
}
#btn3:hover {
    background-color: rgba(92, 37, 157, 0.2);
    border: 1px solid #FCFCFC;
    color: #FCFCFC
}











