
/* DASHBOARD CONTAINER*/
.box {  
position: absolute;
width: 30%;
height: 220%;
left: 0px;
top: 0px;
background: #FCFCFC;
box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Logo at the top */
 .logo{
    size: 15%; 
   padding-left: 0%;
  width: 90%;
 }

/* profile pic*/
.pic{
  position: absolute;
width: 50px;
height: 50px;
left: 25%;
padding-top: 30%;
padding-left: 14%;
}

.options{
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 90%;
line-height: 33px;
letter-spacing: 0.002em;
  padding-left: 40%;
  padding-top: 30%;
/* GREY 2 */
color: #1E1E1E;
flex: none;
order: 0;
flex-grow: 0;
}

/* template div styling  */
.file{
   display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 30%;
position: absolute;
width: 50%;
height: 20%;
left: 30%;
top: 10%;
}
.tem {
  display: flex;
 padding-left: 30%;
   padding-top: 15%;
}

.tem > div {
  background-color: #f1f1f1;
  width: 140px;
height: 170px;
  margin: 15px;
  padding: 20px;
  font-size:10px;
  font-weight: 400;
  background: #FFFFFF;
box-shadow: 3.43096px 3.43096px 9.43515px rgba(18, 18, 18, 0.25);
border-radius: 12.8661px;
  font-family: 'Open Sans;'
}

.select {
   left: 10%;
   top: 20%;
  font-family: 'Open Sans';
  font-size: 9px;
padding: 6px;
color: black;
   cursor: pionter;
}

.select {
  transition-duration: 0.4s;
}

.select:hover {
  background-color: #ee72ee; 
  color: white;
}

.dd {
   display: flex;
flex-direction: column;
padding: 0px;
position: absolute;
left: 35%;
top: 100%;
  font-family:'Open Sans';
}

/* button  */
.container{
  display: flex;
flex-direction: row;
padding: 0px;
position: absolute;
left: 35%;
  gap: 200%;
top: 130%;
  font-family:'Open Sans'; 
}

.btn1 {
    display: flex;
   font-family: 'open sans';
flex-direction: row;
gap: 10px;
   font-size: 90%;
width: 90%;
background: #5D269E;
border-radius: 4px;
color: whitesmoke;
   cursor: pionter;

  }

.btn2 {
  display: flex;
 border-radius: 4px; 
font-family: 'Open Sans';
  flex-direction: row;
font-style: normal;
font-weight: 400;
font-size: 90%;
letter-spacing: 0.002em;
color: #1E1E1E;
width: 90%;
}

.btn1 {
  transition-duration: 0.4s;
}

.btn1:hover {
  background-color: whitesmoke; 
  color: purple;
}

.btn2 {
  transition-duration: 0.4s;
}

.btn2:hover {
  background-color: purple; 
  color: white;
}

 /* footer Section Styling */
footer{
width: 100%;    
position: absolute;
height: 60%;
left: 0%;
right: 0%;
bottom: 0px;
background: #323233;
    top: 200%;

}

.des{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
color: #FFFFFF;  
}
.flex-columns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-around;
    padding-left: 2rem;
    /* border: white solid 2px; */
}

.social-media-icons {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 34px;

}
.social-media-icons img{
    width: 20px;
    display: flex;

}
.col-1 p{
    font-size: 14px;
    width: 65%;
    line-height: 27.24px;
    font-weight: 400;
}
.col2 a{
    color: #fff;    
}
.list{
    margin-top: 2rem;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 100;
}
.p{
 font: 'Open Sans';
  color: white;

}

.col3 h3{
    margin-bottom: 2rem;
    font-size: 24px;
 color: white;
}
.col3 input{
  
    outline: none;
    padding: .6rem;
    border: light #fff 1px;
    margin-top: .5rem;
    /* width: 300px; */
    display: block;
    width: 70%;
}

.submit {
  padding-top: 4%;
  padding-bottom: 4%;
    background: #5D269E;
border-radius: 8px;
  width: 80%;
  color: white;
}

#undr {
  font-family: 'Open Sans';
font-style: normal;
 display: flex;
flex-direction: row;
align-items: center;
gap: 10px;
width: 70%;
height: 20%;
border: 1px solid #A08D8D;
border-radius: 8px;
}

